/* ==========================================================================
   footer / component
   ========================================================================== */

.footer
{
    background-color: var(--color-black);
    padding: var(--spacing-md) 0;
    color: var(--color-white);

    .wrapper
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        align-items: center;
    }

    hr
    {
        width: 100%;
    }

    .flex
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .socials
    {
        --btn-size: 48px;
        --border-size: 3px;

        display: flex;
        list-style: none;
        gap: var(--spacing-sm);
        padding: 0;
        margin: 0;

        a
        {
            transform: scale(1);
            color: var(--color-black);
            width: calc(var(--btn-size) - var(--border-size));
            height: calc(var(--btn-size) - var(--border-size));
            border: var(--border-size) solid var(--color-white);
            border-radius: 1000px;
            background-color: var(--color-white);
            justify-content: center;
            align-items: center;
            display: flex;

            &:hover
            {
                color: var(--color-primary);
                background-color: transparent;
                border: var(--border-size) solid var(--color-primary);
                transform: scale(1.1);
            }
        }
    }

    @media screen and (max-width: $breakpoint-md)
    {
        .flex
        {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--spacing-sm);
        }

        .socials
        {
            --btn-size: 36px;
        }
    }
}