/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

body {
    min-height: 100%;
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    color: var(--color-black);
    line-height: 1.6;
}

html
{
    scroll-behavior: smooth;
}

*
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.small
{
    font-size: var(--font-size-content-small);
}

p
{
    margin: 0;
}
