/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: inherit;
    text-decoration: none;
    font-size: var(--font-size-link);
    transition: all .45s $ease-out-expo;
    letter-spacing: .05em;
    font-weight: 600;

    &:hover {
        color: var(--color-primary);
    }
}

.btn
{
    --pad-vert: 10px;
    --pad-horz: 20px;
    --border-size: 3px;

    display: inline;
    border-radius: 1000px;
    font-size: var(--font-size-btn);
    background-color: var(--color-primary);
    padding: calc(var(--pad-vert) - var(--border-size)) calc(var(--pad-horz) - var(--border-size));
    border: var(--color-primary) solid var(--border-size);
    color: var(--color-white);

    &:hover
    {
        color: var(--color-primary);
        background-color: var(--color-white);
    }
}

.btn-secondary
{
    --btn-size: 3px;

    padding: calc(var(--pad-vert) - var(--btn-size)) calc(var(--pad-horz) - var(--btn-size));
    border: var(--btn-size) solid var(--color-white);
    background-color: var(--color-white);
    color: var(--color-black);

    &:hover
    {
        color: var(--color-white);
        background-color: transparent;
    }
}

.logo
{
    --icon-size: 1.5em;

    display: flex;
    align-items: center;
    font-size: var(--font-size-logo);
    letter-spacing: -.025em;
    font-weight: 500;
    
    span
    {
        letter-spacing: -.1em;
        font-weight: 300;
    }

    svg
    {
        margin-right: var(--spacing-sm);
        height: var(--icon-size);
        width: var(--icon-size);
    }
}