/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #161925;
    --color-gray: #465362;

    // Couleurs du projet
    --color-primary: #DE1A1A;
    --color-secondary: #B8C5D6;
    --color-tertiary: #ACBED8;
}