{% include '_partials/_header.html' %}

<!-- SECTION HERO -->
<section class="hero small-hero">
    <div class="wrapper">
        <div class="media">
            <img src="assets/images/hero-accueil.jpg" alt="el cooker">
        </div>

        <div class="content">
            <h1>blablabla le titre</h1>
        </div>
    </div>
</section>

<!-- SECTION CONTACT -->
<section class="contact">
    <div class="wrapper">
        <p>blablabla realise avec the_content()</p>

        <h1>met le gravityForm</h1>
    </div>
</section>

{% include '_partials/_footer.html' %}