{% include '_partials/_header.html' %}

<!-- SECTION HERO -->
<section class="hero">
    <div class="wrapper">
        <div class="media">
            <img src="assets/images/hero-accueil.jpg" alt="el cooker">
        </div>

        <div class="content">
            <h1>blablabla le titre</h1>
            <p>Blablabla voila le site</p>
        </div>
    </div>
</section>

<!-- SECTION FAVORITES-->
<section class="favorites">
    <div class="wrapper">
        <h2>Jaime trop ces recettes</h2>

        <div class="cards">
            <div class="card">
                <div class="media">
                    <img src="assets/images/mium.jpg" alt="Delisioco">
                </div>
                <div class="content">
                    <h3>Les frites parfaites de grand maman</h3>
                    <h4>Faites par grand mere</h4>
                    <p class="small">blablabla cest juste trop bon</p>
                </div>
            </div>

            <div class="card">
                <div class="media">
                    <img src="assets/images/mium.jpg" alt="Delisioco">
                </div>
                <div class="content">
                    <h3>Les frites parfaites de grand maman</h3>
                    <h4>Faites par grand mere</h4>
                    <p class="small">blablabla cest juste trop bon (surtout avec de la relish)</p>
                </div>
            </div>
        </div>
        
        <a href="./" class="btn">Voir plus de recette ig</a>
    </div>
</section>

{% include '_partials/_footer.html' %}