{% include '_partials/_header.html' %}

<!-- SECTION HERO -->
<section class="hero small-hero">
    <div class="wrapper big-wrapper">
        <div class="media">
            <img src="assets/images/hero-recettes.jpg" alt="el cooker">
        </div>

        <div class="content">
            <h1>blablabla le titre</h1>
            <h4>Categorie</h4>

            <svg class="icon favorite" data-component="Toggle">
                <use xlink:href="#icon-favorite"></use>
            </svg>
        </div>
    </div>
</section>

<!-- SECTION DETAILS -->
<section class="details">
    <div class="wrapper">

        <div class="cols">
            <div class="col">
                <h3>Par: LE GOAT CHATPGT</h3>
                <p>blablabla je parle du plat</p>
            </div>

            <div class="col">
                <h3>Preparation</h3>
                <h3>Cuisson</h3>
            </div>
        </div>
    </div>
</section>

<!-- SECTION RECIPE -->
<section class="recipe">
    <div class="wrapper">
        <article>
            <h2>Preparation</h2>

            <div>
                <h3>Etape 1</h3>
                <p>blablabla met le dans le four stp</p>
            </div>
            <div>
                <h3>Etape 1</h3>
                <p>blablabla met le dans le four stp</p>
            </div>
            <div>
                <h3>Etape 1</h3>
                <p>blablabla met le dans le four stp</p>
            </div>
        </article>

        <aside>
            <h2>Ingredients</h2>

            <p>pomme</p>
            <p>poire</p>
            <p>banane</p>
        </aside>
    </div>
</section>

<!-- SECTION GALLERY -->
 <section class="gallery">
    <div class="wrapper">
        <h2></h2>

        <div class="cards">
            <div class="card">
                <img src="assets/images/miam.jpg" alt="Bread">
                <h3>Bad Bread</h3>
            </div>

            <div class="card">
                <img src="assets/images/miam.jpg" alt="Bread">
                <h3>Bad Bread</h3>
            </div>

            <div class="card">
                <img src="assets/images/miam.jpg" alt="Bread">
                <h3>Bad Bread</h3>
            </div>
        </div>
    </div>
 </section>

{% include '_partials/_footer.html' %}