{% include '_partials/_header.html' %}

<!-- SECTION HERO -->
<section class="hero small-hero">
    <div class="wrapper big-wrapper">
        <div class="media">
            <img src="assets/images/hero-accueil.jpg" alt="el cooker">
        </div>

        <div class="content">
            <h1>blablabla le titre</h1>
        </div>
    </div>
</section>

<section class="recipes">
    <div class="wrapper">
        <h2>titre realise avec the_content()</h2>

        <p>paragraphe realise avec the_content()</p>

        <div class="swiper" data-component="Carousel" data-space="30" data-slides="3">
            <div class="swiper-wrapper">
                <a class="swiper-slide card" href="#">
                    <div class="media">
                        <img src="assets/images/mium.jpg" alt="Delisioco">
                    </div>
                    <div class="content">
                        <h5>Faites par grand mere</h5>
                        <h3>Les frites parfaites de grand maman</h3>
                        <p class="small">blablabla cest juste trop bon</p>
                    </div>
                </a>

                <a class="swiper-slide card" href="#">
                    <div class="media">
                        <img src="assets/images/mium.jpg" alt="Delisioco">
                    </div>
                    <div class="content">
                        <h5>Faites par grand mere</h5>
                        <h3>Les frites parfaites de grand maman</h3>
                        <p class="small">blablabla cest juste trop bon (surtout avec de la relish)</p>
                    </div>
                </a>

                <a class="swiper-slide card" href="#">
                    <div class="media">
                        <img src="assets/images/mium.jpg" alt="Delisioco">
                    </div>
                    <div class="content">
                        <h5>Faites par grand mere</h5>
                        <h3>Les frites parfaites de grand maman</h3>
                        <p class="small">blablabla cest juste trop bon (surtout avec de la relish)</p>
                    </div>
                </a>

                <a class="swiper-slide card" href="#">
                    <div class="media">
                        <img src="assets/images/mium.jpg" alt="Delisioco">
                    </div>
                    <div class="content">
                        <h5>Faites par grand mere</h5>
                        <h3>Les frites parfaites de grand maman</h3>
                        <p class="small">blablabla cest juste trop bon (surtout avec de la relish)</p>
                    </div>
                </a>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}